### 1. Take values of the length & breadth of a rectangle from user input and check if it is square or not.

In [1]:
length = float(input("Enter the length of the rectangle: "))
breadth = float(input("Enter the breadth of the rectangle: "))

if length <= 0 or breadth <= 0:
    print("Please enter positive values for length and breadth: ")
elif length == breadth:
    print("It is a square.")
else:
    print("It is not a square.")

Enter the length of the rectangle: 22
Enter the breadth of the rectangle: 23
It is not a square.

## 2. Take three integer values from the user and print the greatest among them.

In [2]:
num1 = int(input("Enter the firts number : "))
num2 = int(input("Enter the second number : "))
num3 = int(input("Enter the third number : "))

if num1 > num2 and num1 > num3:
    print("The num1 is gratheset : ",num1)
    
elif num2 > num3 and num2 > num1:
    print("The num2 is Grathest : ",num2)

    
elif num3 > num1 and num3 > num2:
    print("The num3 is grathest : ",num3)
    
else:
    print("There number are Equal :",num1,"=",num2,"=",num3)

Enter the firts number : 33
Enter the second number : 44
Enter the third number : 55
The num3 is grathest :  55

## 4. A school has the following rules for the grading system:

In [3]:
marks = int(input("Enter the your marks Please : "))

if marks < 0 or marks > 100:
    print("Invalid marks")
    
elif marks >= 90 and marks <= 100:
    print("Corgratulation............ A+")
    
elif marks >= 80 and marks <= 89:
    print("A")
    
elif marks >= 60 and marks <= 69:
    print("B")
    
elif marks >= 50 and marks <=59:
    print("C")
    
elif marks >= 45 and marks <= 49:
    print("D")
    
elif marks >= 24 and marks <= 44:
    print("E")
    
else:
    print("Sorry Bro............. F ")

Enter the your marks Please : 2
Sorry Bro............. F

## 5. Print the following pattern using for and while loop.

In [4]:
num = int(input("Enter the your number : "))
row = num
while row > 0:
        col = 1
        while col <= row:
            print(col, end=" ")
            col += 1
        print()
        row -= 1

Enter the your number : 4
1 2 3 4
1 2 3
1 2
1

## 6. Display numbers from -100 to -10 using for loop.

In [5]:
i = -100

while i <= -10:
    print(i)
    i+=1

-100
-99
-98
-97
-96
-95
-94
-93
-92
-91
-90
-89
-88
-87
-86
-85
-84
-83
-82
-81
-80
-79
-78
-77
-76
-75
-74
-73
-72
-71
-70
-69
-68
-67
-66
-65
-64
-63
-62
-61
-60
-59
-58
-57
-56
-55
-54
-53
-52
-51
-50
-49
-48
-47
-46
-45
-44
-43
-42
-41
-40
-39
-38
-37
-36
-35
-34
-33
-32
-31
-30
-29
-28
-27
-26
-25
-24
-23
-22
-21
-20
-19
-18
-17
-16
-15
-14
-13
-12
-11
-10

## 7. Write a program to sum all prime numbers within a range of 10 to 1000.

In [6]:
num = int(input("Enter the your number : "))

count = 0
 
i = 2
while i > num:
  i += 1
  if num % i == 0:
    count += 1
    break
  if count == 0:
    print("The number is Prime ")

else:
 print("The number is Not A Prime")

Enter the your number : 444
The number is Not A Prime

## 8. Find the factorial of an n! (Hint, n=7: 7*6*5*4*3*2*1).

In [7]:
num = int(input("Enter the your number : "))

fact = 1
i = 1
while i <= num:
  fact *= i
  i += 1

print("The factorial is : ",fact)

Enter the your number : 7
The factorial is :  5040

## 9. Reverse a given integer number 27956240710.

In [8]:
num = 27956240710

rev = 0

while num > 0:
    rev = (rev*10)+num%10
    num=num//10
    
print(rev)

1704265972

## 11. Display the Fibonacci series of 15 elements using the for and while loop.

In [9]:
num = int(input("Enter the you number : "))

first = 0
second = 1
count = 0

i = 2
while count < num:
  if count <= 1:
     fibo = count
  else:
     fibo = first + second
     first = second
     second = fibo
  count+=1
  print(fibo, end="    ")

Enter the you number : 15
0    1    1    2    3    5    8    13    21    34    55    89    144    233    377

# Python inbuilt Data Structure:

## 12. Remove 2 and add 3 to the list and replace True with False.

In [10]:
value = [1, 3, 5, 2, 3, True]
value[3] = "3"
value[5] = False

print(value)

[1, 3, 5, '3', 3, False]

## 13. Find the intersection (common) of two sets.

In [11]:
S1 = {1, 4, 6, 8}
S2 = {True, 1, 2, 10}

intersection_set = S1.intersection(S2)
print(intersection_set)

{True}

## 15. Rename the key of a dictionary.

In [12]:
Dict = { 
    "name": "Shakil",
    "age":27, 
    "city": "Berlin", 
    "country": "Germany"
    }

Dict['region'] = Dict['country']
del Dict['country']

print(Dict)

{'name': 'Shakil', 'age': 27, 'city': 'Berlin', 'region': 'Germany'}

## 16. Creating a data frame using the list.

In [13]:
import pandas as pd

num = [10, 100, 300]
df = pd.DataFrame(num, columns=['number'])

print(df)

   number
0      10
1     100
2     300

## 17. Change the value of a key in a given dictionary.

In [14]:
Dict = {
    "name": "Shakil", 
    "age": 27, 
    "city": "Berlin", 
    "country": "Germany"}

Dict['age'] = 28

print(Dict)

{'name': 'Shakil', 'age': 28, 'city': 'Berlin', 'country': 'Germany'}